<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.outsystems.extended.cloud.message.plugin" version="1.0.0">
    
    <name>ExtendedSupportedFirebaseCloudMessagingPlugin</name>

    <description>
        This plugin is a wrapper of OutSystems Supported Firebase Cloud Message Plugin BUT only add for Android
    </description>

    <js-module name="ExtendedSupportedFirebaseCloudMessagingPlugin" src="www/ExtendedSupportedFirebaseCloudMessagingPlugin.js">
        <clobbers target="cordova.plugins.ExtendedSupportedFirebaseCloudMessagingPlugin" />
    </js-module>

    <platform name="android">
        <dependency id="com.outsystems.firebase.cloudmessaging" url="https://github.com/OutSystems/cordova-outsystems-firebase-cloud-messaging.git#2.0.1"/>
    </platform>

</plugin>